* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.centered {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.header {
    width: 100%;
    height: var(--top-spacing);
    position: fixed;
}

.centred-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.navigation {
    width: 100%;
    margin-bottom: 0;

    *{
        list-style: none;
    }
    a{
        text-decoration: none;
        color :currentColor;
    }

    .headerMenu{
        color: green;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: flex-end;
    }
    .socialMenu{
        margin: 0 0 0 auto;
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap : 10px;

        li {
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                transform: scale(1);
                transition: transform .2s;
                font-weight: bold;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        .icon_fallback{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid green;
            color :green;
        }

        .icon {
            width: 25px;
            height: 25px;
            color: green;
            vertical-align: middle;
        }
    }
    .footerMenu{
        color: orange;
    }
    .active{
        color: red;
    }
}


.content {
    padding: var(--top-spacing) 15px 0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
