*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.centered{
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.header{
    width: 100%;
    height: var(--top-spacing);
    position: fixed;
}
.centred-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.link-list{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap :15px;
}



.content{
    padding: var(--top-spacing) 15px 0 15px;
    display: flex;
    flex-direction: column;
    gap :20px;
}
